body{
    margin: 0;
}
.block{
background-color:rgb(47, 42, 58);
padding: 15px;
display: flex;
align-content: center;
justify-content: center;
column-gap: 15px;
}
button{
background: none;
outline: none;
border: none;
color: aliceblue;
}
button:hover{
    color: rgb(183, 255, 0);
}
button:active{
   color: darkgreen;
}
.text{
width:1300px;
height: 500px;
margin: 40px;
border: 5px solid gray;
}
.underline-box{
    width:20px;
    height:4px;
    background-color: red;
}

#fontcolor{
    display: none;    
}
.colorbutton{
    display: flex;
    flex-direction: row;
}



